%nav{class: 'navbar navbar-inverse navbar-fixed-top'}
  %div{class: 'container-fluid'}
    %div{class: 'navbar-header'}
      %a{class: 'navbar-brand', href: '#', id: 'config-button'} Profile: None

%div{id: 'config-bar'}
  Profile
  %hr
  Strain
  %select{class: 'selectpicker show-tick', id: 'strain-dd'}
  %hr
  Purchased Professions
  %div{id: 'profession-basic-config', class: 'container'}
    %div{class: 'dropdown'}
      %button{class: 'btn btn-primary dropdown-toggle', type: 'button', id: 'add-basic-profession', 'data-toggle' => 'dropdown'}
        %span{class: 'glyphicon glyphicon-plus'}
        &nbsp
        Add Profession
        %span{class: 'caret'}
      %ul{class: 'dropdown-menu', id: 'basic-profession-list'}

    %div{id: 'basic-limit-warning'} 
      Profession limit exceeded. Please remove or forget 
      %span{id: 'basic-overlimit'}0
      professions

  %div{id: 'profession-conc-config'}
  %div{id: 'profession-adv-config'}
  %hr
  Filters
  %hr
  %div
    %input{type: 'checkbox', checked: true, id: 'filter-accessible'} Only Accessible
  %div
    %input{type: 'checkbox', checked: false, id: 'filter-discounted'} Only Discounted
  %div
    %input{type: 'checkbox', checked: true, id: 'filter-lore'} Hide Lore
  %div
    %input{type: 'checkbox', checked: true, id: 'filter-psionics'} Hide Psionics

%div{class: 'col-xs-6', id: 'main-left'}
  %div{id: 'skill-pool'}
%div{class: 'col-xs-6', id: 'main-right'}
  = render 'stat_hp'
  = render 'stat_mp'
  = render 'stat_inf'
  %div{class: 'col-xs-12'}
    %hr
  = render 'xp_summary'

  %div{class: 'col-xs-12'}
    %hr

  %div{class: 'col-xs-12'} 
    Acquired Skills
    %span{class: 'badge', id: 'skills-acquired-xp'} 0
    %div{class: 'btn-group pull-right'}
      %button{type: 'button', class: 'btn btn-default dropdown-toggle dropdown-tool', 'data-toggle': 'dropdown'}
        Add
        %span{class: 'caret'}
      %ul{class: 'dropdown-menu'}
        %li
          %a{href: '#', id: 'tool-acq-group'} Group
    %div{class: 'row'}
    %div{class: 'drop-container', id: 'skills-acquired'}


  %div{class: 'col-xs-12'} 
    Planner 
    Stats
    %span{class: 'badge', id: 'skills-planned-stats'} 0
    Skills
    %span{class: 'badge', id: 'skills-planned-xp'} 0
    %div{class: 'btn-group pull-right'}
      %button{type: 'button', class: 'btn btn-default dropdown-toggle dropdown-tool', 'data-toggle': 'dropdown'}
        Add
        %span{class: 'caret'}
      %ul{class: 'dropdown-menu'}
        %li
          %a{href: '#', id: 'tool-separator'} Group
          %a{href: '#', id: 'tool-stat-planner'} Stat Planner
          %a{href: '#', id: 'tool-checkin-marker'} Checkin Marker
          %a{href: '#', id: 'tool-profession-planner'} Profession Planner
    %div{class: 'row'}
    %div{class: 'drop-container', id: 'skills-planned'}

%div{id: 'tool-acq-group-base', class: 'tool tool-separator tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'tool-text tool-editable'} Group
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}

%div{id: 'tool-separator-base', class: 'tool tool-separator tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'tool-text tool-editable'} Group
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}

%div{id: 'tool-stat-planner-base', class: 'tool tool-stat-planner tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'glyphicon glyphicon-refresh'}
  %span{class: 'tool-option tool-stat'} HP
  %span{class: 'glyphicon glyphicon-minus'}
  %span{class: 'tool-value badge stat-cost'} 0
  %span{class: 'glyphicon glyphicon-plus'}
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}

%div{id: 'tool-checkin-marker-base', class: 'tool tool-checkin-planner'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'tool-text tool-editable'} Checkin XP
  %span{class: 'glyphicon glyphicon-minus'}
  %span{class: 'tool-value badge'} 0
  %span{class: 'glyphicon glyphicon-plus'}
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}

%div{id: 'tool-profession-planner-base', class: 'tool tool-prof-planner tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'glyphicon glyphicon-refresh'}
  %span{class: 'tool-option'} Basic 
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}
  %span{class: 'badge tool-prof-xp tool-value pull-right'} 10

= stylesheet_link_tag 'style'
= javascript_include_tag 'jstorage.min'
= javascript_include_tag 'bootstrap-editable.min'
= javascript_include_tag 'bootstrap-select.min'
= javascript_include_tag 'bootstrap-notify.min'
= stylesheet_link_tag 'bootstrap-editable'
= stylesheet_link_tag 'bootstrap-select.min'
= stylesheet_link_tag 'configbar/configbar'
= stylesheet_link_tag 'professions/style'
= stylesheet_link_tag 'skills/style'
= stylesheet_link_tag 'tooling/style'
= stylesheet_link_tag 'notifier/style'
= stylesheet_link_tag 'animate'
= javascript_include_tag 'notifier/notifier'
= javascript_include_tag 'filterview/filterview'
= javascript_include_tag 'skills/calc'
= javascript_include_tag 'tooling/tooling'
= javascript_include_tag 'stats/stats_interface'
= javascript_include_tag 'skills/popup'
= javascript_include_tag 'skills/skill_interface'
= javascript_include_tag 'skills/skills'
= javascript_include_tag 'professions/interface_basic'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'strains/strain_interface'
= javascript_include_tag 'strains/strains'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'dynaloader/dynaloader'

:javascript
  dynaloader.load_remote();