= render 'fbscript'
= render 'sync_conflict'
= render 'loader'
= render 'unlock_advanced'
= render 'profile_modals'
= render 'character_sheet'
= render 'fbinfo'
= render 'navbar'
= render 'configbar'
= render 'remote_config'
= render 'skill_desc'
= render 'skill_info_config'
= render 'tour'

%div{id: 'is-logged-in', hidden: true, 'data-value': "#{@is_logged_in}"}

%div{class: 'row main', style: 'display: none'}
  %div{class: 'col-xs-6', id: 'main-left'}
    %div{id: 'advanced-list'}
    %div{id: 'skill-pool'}
      %div{id: 'skill-pool-no-result'} No skills match filter criteria

  %div{class: 'col-xs-6', id: 'main-right'}
    %div{class: 'stat-container'}
      = render 'stat_hp'
      = render 'stat_mp'
      = render 'stat_inf'

    = render 'xp_summary'
    = render 'rightside'

%div{style: 'display: none'}
  = render 'tooling_template'

%div{class: 'footer', style: 'display: none'}
  %div{class: 'credits'} DRpaedia 0.9.15

  %div{id: 'disqus_thread', class: 'col-xs-12'}
  :javascript
    var disqus_config = function() {
      //this.page.url = 'drpaedia.org';
      //this.page.identifier = 'builder';
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//drpaedia.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

= stylesheet_link_tag 'style'
= stylesheet_link_tag 'typeaheadjs.css'
= javascript_include_tag 'velocity.min'
= javascript_include_tag 'typeahead.bundle.min'
= javascript_include_tag 'js.cookie'
= javascript_include_tag 'generic'
= javascript_include_tag 'bootstrap-toggle.min'
= javascript_include_tag 'jstorage.min'
= javascript_include_tag 'bootstrap-editable.min'
= javascript_include_tag 'bootstrap-select.min'
= javascript_include_tag 'bootstrap-notify.min'
= javascript_include_tag 'SParser'
= javascript_include_tag 'AgentGirl'
= stylesheet_link_tag 'bootstrap-editable'
= stylesheet_link_tag 'bootstrap-select.min'
= stylesheet_link_tag 'bootstrap-toggle.min'
= stylesheet_link_tag 'configbar/configbar'
= stylesheet_link_tag 'professions/style'
= stylesheet_link_tag 'skills/style'
= stylesheet_link_tag 'tooling/style'
= stylesheet_link_tag 'notifier/style'
= stylesheet_link_tag 'profile/style'
= stylesheet_link_tag 'animate'
= javascript_include_tag 'notifier/notifier'
= javascript_include_tag 'profile/remote_interface'
= javascript_include_tag 'profile/remote'
= javascript_include_tag 'dynaloader/manager'
= javascript_include_tag 'layout/layout'
= javascript_include_tag 'profile/profile_interface'
= javascript_include_tag 'profile/profile'
= javascript_include_tag 'profile/character_sheet'
= javascript_include_tag 'filterview/filterview'
= javascript_include_tag 'skills/calc'
= javascript_include_tag 'tooling/tooling'
= javascript_include_tag 'stats/stats_interface'
= javascript_include_tag 'skills/popup'
= javascript_include_tag 'skills/skill_interface'
= javascript_include_tag 'skills/skills'
= javascript_include_tag 'professions/interface_adv'
= javascript_include_tag 'professions/interface_basic'
= javascript_include_tag 'professions/interface_conc'
= javascript_include_tag 'professions/adv'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'professions/conc'
= javascript_include_tag 'strains/strain_interface'
= javascript_include_tag 'strains/strains'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'dynaloader/dynaloader'
= javascript_include_tag 'printThis'

:javascript
  if (dynaloader.precheck_profile()) {
    layout.attach();
    dynaloader.load_remote();
    $('nav.navbar').show();
    $('.row.main').show();
    $('.footer').show();
  }