%nav{class: 'navbar navbar-inverse navbar-fixed-top'}
  %div{class: 'container-fluid'}
    %div{class: 'navbar-header'}
      %a{class: 'navbar-brand', href: '#', id: 'config-button'} Profile: None

%div{id: 'config-bar'}
  Profile
  %hr
  Strain
  %select{class: 'selectpicker show-tick', id: 'strain-dd'}
  %hr
  Purchased Professions
  %div{id: 'profession-basic-config', class: 'container'}
    %div{class: 'dropdown'}
      %button{class: 'btn btn-primary dropdown-toggle', type: 'button', id: 'add-basic-profession', 'data-toggle' => 'dropdown'}
        %span{class: 'glyphicon glyphicon-plus'}
        &nbsp
        Add Profession
        %span{class: 'caret'}
      %ul{class: 'dropdown-menu', id: 'basic-profession-list'}

    %div{id: 'basic-limit-warning'} 
      Profession limit exceeded. Please remove or forget 
      %span{id: 'basic-overlimit'}0
      professions

  %div{id: 'profession-conc-config'}
  %div{id: 'profession-adv-config'}
  %hr
  Filters
  %hr
  %div
    %input{type: 'checkbox', checked: true, id: 'filter-accessible'} Only Accessible
  %div
    %input{type: 'checkbox', checked: false, id: 'filter-discounted'} Only Discounted
  %div
    %input{type: 'checkbox', checked: true, id: 'filter-lore'} Hide Lore
  %div
    %input{type: 'checkbox', checked: true, id: 'filter-psionics'} Hide Psionics

%div{class: 'col-xs-6', id: 'main-left'}
  %div{id: 'skill-pool'}
%div{class: 'col-xs-6', id: 'main-right'}

= stylesheet_link_tag 'style'
= javascript_include_tag 'bootstrap-select.min'
= stylesheet_link_tag 'bootstrap-select.min'
= stylesheet_link_tag 'configbar/configbar'
= stylesheet_link_tag 'professions/style'
= stylesheet_link_tag 'skills/style'
= javascript_include_tag 'filterview/filterview'
= javascript_include_tag 'skills/popup'
= javascript_include_tag 'skills/skill_interface'
= javascript_include_tag 'skills/skills'
= javascript_include_tag 'professions/interface_basic'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'strains/strain_interface'
= javascript_include_tag 'strains/strains'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'dynaloader/dynaloader'

:javascript
  dynaloader.load_remote();
  filterview.attach();