= render 'loader'
= render 'unlock_advanced'
= render 'profile_modals'

%nav{class: 'navbar navbar-inverse navbar-fixed-top navbar-xs'}
  %div{class: 'container-fluid navbar-container'}
    %div{class: 'navbar-header pull-left'}
      %a{class: 'navbar-brand'} DRpaedia
    %div{class: 'navbar-header pull-right'}
      %a{class: 'navbar-brand', href: '#', id: 'config-button'} 
        %span{class: 'profile-arrow'}
        %span{class: 'profile-name'} Loading...

= render 'configbar'

%div{class: 'row main'}
  %div{class: 'col-xs-6', id: 'main-left'}
    %div{id: 'advanced-list'}
    %div{id: 'skill-pool'}
      %div{id: 'skill-pool-no-result'} No skills match filter criteria

  %div{class: 'col-xs-6', id: 'main-right'}
    %div{class: 'stat-container'}
      = render 'stat_hp'
      = render 'stat_mp'
      = render 'stat_inf'
    / %div{class: 'row'}
    /   %hr
    = render 'xp_summary'

    / %div{class: 'row'}
    /   %hr

    %div{class: 'col-xs-12 drop-box'} 
      %span{class: 'group-header'} Acquired
      %span{class: 'badge badge-header', id: 'skills-acquired-xp'} 0
      %div{class: 'btn-group pull-right btn-tool-group'}
        %button{type: 'button', class: 'btn btn-default dropdown-toggle dropdown-tool', 'data-toggle': 'dropdown'}
          Add
          %span{class: 'caret'}
        %ul{class: 'dropdown-menu'}
          %li
            %a{href: '#', id: 'tool-acq-group'} Group
      %div{class: 'row'}
      %div{class: 'drop-container', id: 'skills-acquired'}

    %div{class: 'col-xs-12 drop-box'} 
      %span{class: 'group-header'} Planner 
      %br
      Stats
      %span{class: 'badge badge-header', id: 'skills-planned-stats'} 0
      Skills
      %span{class: 'badge badge-header', id: 'skills-planned-xp'} 0
      %div{class: 'btn-group pull-right  btn-tool-group btn-tool-group-planner'}
        %button{type: 'button', class: 'btn btn-default dropdown-toggle dropdown-tool', 'data-toggle': 'dropdown'}
          Add
          %span{class: 'caret'}
        %ul{class: 'dropdown-menu'}
          %li
            %a{href: '#', id: 'tool-separator'} Group
            %a{href: '#', id: 'tool-stat-planner'} Stat Planner
            %a{href: '#', id: 'tool-checkin-planner'} Checkin Marker
            %a{href: '#', id: 'tool-profession-planner'} Profession Planner
      %div{class: 'row'}
      %div{class: 'drop-container', id: 'skills-planned'}

%div{id: 'tool-acq-group-base', class: 'tool tool-separator tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'tool-text tool-editable'} Group
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-menu-up group-collapsible'}
  %span{class: 'tool-compute-children'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}
  %span{class: 'tool-compute-expend badge pull-right'} 0

%div{id: 'tool-separator-base', class: 'tool tool-separator tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'tool-text tool-editable'} Group
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-menu-up group-collapsible'}
  %span{class: 'tool-compute-children'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}
  %span{class: 'tool-compute-checkin badge badge-success pull-right'} 0
  %span{class: 'pull-right'} /
  %span{class: 'tool-compute-expend badge pull-right'} 0
  

%div{id: 'tool-stat-planner-base', class: 'tool tool-stat-planner tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'glyphicon glyphicon-refresh'}
  %span{class: 'tool-option tool-stat'} HP
  %span{class: 'glyphicon glyphicon-minus'}
  %span{class: 'tool-value badge stat-cost'} 0
  %span{class: 'glyphicon glyphicon-plus'}
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}

%div{id: 'tool-checkin-planner-base', class: 'tool tool-checkin-planner'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'tool-text tool-editable'} Checkin XP
  %span{class: 'glyphicon glyphicon-minus'}
  %span{class: 'tool-value badge'} 0
  %span{class: 'glyphicon glyphicon-plus'}
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}

%div{id: 'tool-profession-planner-base', class: 'tool tool-prof-planner tool-applicable'}
  %span{class: 'glyphicon glyphicon-arrow-down'}
  %span{class: 'glyphicon glyphicon-refresh'}
  %span{class: 'tool-option'} Basic 
  %span{class: 'glyphicon glyphicon-option-horizontal'}
  %span{class: 'glyphicon glyphicon-arrow-up pull-right'}
  %span{class: 'badge tool-prof-xp tool-value pull-right'} 10

%div{class: 'footer'}
  %div{class: 'credits'} DRpaedia 0.7.0

= stylesheet_link_tag 'style'
= javascript_include_tag 'generic'
= javascript_include_tag 'jstorage.min'
= javascript_include_tag 'bootstrap-editable.min'
= javascript_include_tag 'bootstrap-select.min'
= javascript_include_tag 'bootstrap-notify.min'
= javascript_include_tag 'SParser'
= javascript_include_tag 'AgentGirl'
= stylesheet_link_tag 'bootstrap-editable'
= stylesheet_link_tag 'bootstrap-select.min'
= stylesheet_link_tag 'configbar/configbar'
= stylesheet_link_tag 'professions/style'
= stylesheet_link_tag 'skills/style'
= stylesheet_link_tag 'tooling/style'
= stylesheet_link_tag 'notifier/style'
= stylesheet_link_tag 'profile/style'
= stylesheet_link_tag 'animate'
= javascript_include_tag 'layout/layout'
= javascript_include_tag 'profile/profile_interface'
= javascript_include_tag 'profile/profile'
= javascript_include_tag 'notifier/notifier'
= javascript_include_tag 'filterview/filterview'
= javascript_include_tag 'skills/calc'
= javascript_include_tag 'tooling/tooling'
= javascript_include_tag 'stats/stats_interface'
= javascript_include_tag 'skills/popup'
= javascript_include_tag 'skills/skill_interface'
= javascript_include_tag 'skills/skills'
= javascript_include_tag 'professions/interface_adv'
= javascript_include_tag 'professions/interface_basic'
= javascript_include_tag 'professions/interface_conc'
= javascript_include_tag 'professions/adv'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'professions/conc'
= javascript_include_tag 'strains/strain_interface'
= javascript_include_tag 'strains/strains'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'dynaloader/dynaloader'

:javascript
  layout.attach();
  dynaloader.load_remote();