%div{id: 'controls'}
  %div{class: 'form-check form-check-inline col-xs-6 col-sm-4 col-md-3'}
    %label{class: 'form-check-label'}
      %input{class: 'form-check-input', type: 'checkbox', id: 'hide-lore', value: 'lore', checked: true} &nbsp Hide Lores

  %div{class: 'form-check form-check-inline col-xs-6 col-sm-4 col-md-3'}
    %label{class: 'form-check-label'}
      %input{class: 'form-check-input', type: 'checkbox', id: 'hide-psionics', value: 'psionics', checked: true} &nbsp Hide Psionics

  %div{class: 'row'}
  %div{class: 'col-xs-6 col-sm-4 col-md-3 btn-group'}
    %button{class: 'btn btn-link', 'data-toggle': 'dropdown'}
      Unhide Strain
      %span{class: 'caret'}
    %ul{class: 'dropdown-menu', id: 'unhide-strain'}
  %div{class: 'col-xs-6 col-sm-4 col-md-3 btn-group'}
    %button{class: 'btn btn-link', 'data-toggle': 'dropdown'}
      Unhide Profession
      %span{class: 'caret'}
    %ul{class: 'dropdown-menu', id: 'unhide-profession'}
  %div{class: 'col-xs-6 col-sm-4 col-md-3 btn-group'}
    %button{class: 'btn btn-link', 'data-toggle': 'dropdown'}
      Unhide Skill
      %span{class: 'caret'}
    %ul{class: 'dropdown-menu', id: 'unhide-skill'}
  %div{class: 'col-xs-6 col-sm-4 col-md-3'}
    %button{class: 'btn btn-link', id: 'unhide-all'} Unhide All

%table{class: 'table', id: 'vis-table'}

= stylesheet_link_tag 'style'
= stylesheet_link_tag 'typeaheadjs.css'
= stylesheet_link_tag 'visual/bootstrap-table.min'
= stylesheet_link_tag 'visual/bootstrap-table-fixed-columns'
= javascript_include_tag 'velocity.min'
= javascript_include_tag 'typeahead.bundle.min'
= javascript_include_tag 'js.cookie'
= javascript_include_tag 'generic'
= javascript_include_tag 'bootstrap-toggle.min'
= javascript_include_tag 'jstorage.min'
= javascript_include_tag 'bootstrap-editable.min'
= javascript_include_tag 'bootstrap-select.min'
= javascript_include_tag 'bootstrap-notify.min'
= javascript_include_tag 'SParser'
= javascript_include_tag 'AgentGirl'
= javascript_include_tag 'visual/bootstrap-table.min'
= javascript_include_tag 'visual/bootstrap-table-fixed-columns'
= stylesheet_link_tag 'bootstrap-editable'
= stylesheet_link_tag 'bootstrap-select.min'
= stylesheet_link_tag 'bootstrap-toggle.min'
= stylesheet_link_tag 'configbar/configbar'
= stylesheet_link_tag 'professions/style'
= stylesheet_link_tag 'skills/style'
= stylesheet_link_tag 'tooling/style'
= stylesheet_link_tag 'notifier/style'
= stylesheet_link_tag 'profile/style'
= stylesheet_link_tag 'animate'
= javascript_include_tag 'notifier/notifier'
= javascript_include_tag 'skills/calc'
= javascript_include_tag 'stats/stats_interface'
= javascript_include_tag 'skills/popup'
= javascript_include_tag 'skills/skill_interface'
= javascript_include_tag 'skills/skills'
= javascript_include_tag 'profile/remote_interface'
= javascript_include_tag 'profile/remote'
= javascript_include_tag 'dynaloader/manager'
= javascript_include_tag 'layout/layout'
= javascript_include_tag 'profile/drop_simulator'
= javascript_include_tag 'profile/profile_interface'
= javascript_include_tag 'profile/profile'
= javascript_include_tag 'profile/character_sheet'
= javascript_include_tag 'filterview/filterview'
= javascript_include_tag 'tooling/tooling'
= javascript_include_tag 'professions/interface_adv'
= javascript_include_tag 'professions/interface_basic'
= javascript_include_tag 'professions/interface_conc'
= javascript_include_tag 'professions/adv'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'professions/conc'
= javascript_include_tag 'strains/strain_interface'
= javascript_include_tag 'strains/strains'
= javascript_include_tag 'professions/basic'
= javascript_include_tag 'dynaloader/dynaloader'
= javascript_include_tag 'printThis'
= javascript_include_tag 'visual/visual'

:javascript
  visual.attach();
  $('body').css('max-width', '9999px');

:css
  #vis-table {
    margin-top: 64px;
  }

  / .head-rotate {
  /   transform: translate(-27px, 27px) rotate(-90deg);
  /   //width: 24px;
  /   white-space: pre;
  / }

  .row-head {
    padding: 1px !important;
    font-weight: bold;
  }

  / .fixed-table-body-columns, .fixed-table-header-columns {
  /   width: 200px !important;
  /   font-weight: bold;
  / }

  #vis-table > thead > tr > th.cols-splitter {
    max-width: 4px;
    max-height: 4px;
  }

  #vis-table > thead > tr > th.head-rotate, th.head-rotate {
    max-width: 20px;
    height: 80px;
    //transform: translate(-64px, 52px) rotate(-90deg);
    transform: rotate(-90deg) translateY(10px);
    transform-origin: 0% 100%;
    //width: 24px;
    white-space: pre;
  }

  table.table-hover > thead > tr {
    height: 128px;
  }

  thead > tr > th.head-rotate > div.th-inner {
    overflow: unset !important;
    text-overflow: unset !important;
    padding: 0px !important;
    white-space: pre !important;
    line-height: 0px !important;
  }

  #vis-table > thead > tr > th > div.th-inner {
    padding: 0 !important;
    overflow: unset !important;
  }

  .cell {
    vertical-align: middle !important;
    text-align: center;
    padding: 1px !important;
  }

  .opencell {
    //background-color: yellow;
    color: #aaa;
  }

  .accesscell {
    background-color: green;
    color: white;
    vertical-align: middle;
  }

  .uniquecell, .uniquecell:hover {
    background-color: blue;
  }

  .disadvcell {
    background-color: red;
    color: #ddd;
  }

  .separatorcell {
    background-color: #aaa;
    width: 8px;
  }

  .clickable {
    cursor: pointer;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    //background-color: black;
  }